/* Font faces */

@font-face {
	font-family: 'SourceSerifPro';
	src: url('/fonts/source-serif-pro.woff') format('woff');
}

@font-face {
	font-family: 'SourceSerifProBold';
	src: url('/fonts/source-serif-pro-bold.woff') format('woff');
}

@font-face {
	font-family: 'SourceSerifProItalic';
	src: url('/fonts/source-serif-pro-italic.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	:root {
		--link-color: #1a73e8; /* Set your desired link color */
	}
	body .prose, .subscribe-section, .prev-next {
		color: #000000DE;
		font-family: SourceSerifPro, serif;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}
	h1, h2, h3, h4, h5, h6 {
		font-family: Helvetica, Arial, sans-serif,sans-serif;
		color: #000000;
	}
	.date-time, .tags-highlight {
		font-family: Helvetica, Arial, sans-serif,sans-serif;
		white-space: nowrap;
	}
	.prose a {
		color: var(--link-color);
		text-decoration: none;
	}
	.prose a:hover {
		color: #1a73e8DE;
	}
	.prose strong {
		font-family: SourceSerifProBold, serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.prose em {
		font-family: SourceSerifProItalic, serif;
	}
	.prose img {
		border-radius: 0;
		max-width: 100%;
		margin: 0 auto;
		padding: 0;
	}
	.prose blockquote {
		font-family: SourceSerifProItalic, serif;
		font-style: normal;
	}
	.three-dots {
		text-align: center;
		margin: 24px;
	}
	pre,
	code {
		font-size: 0.875rem;
	}
}