---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout title="About Me" description="Lorem ipsum dolor sit amet">
  <div class="container">
    <article>
      <div class="mb-10 w-full gap-16 md:flex md:items-center">
        <div class="text-pretty leading-9">
          <h2 class="mb-4 text-2xl font-bold">Hello!</h2>
          <Prose>
            <div class="text-lg">
              <p>
                I’m Abayomi Popoola, a programmer and entrepreneur with a
                passion for building businesses. My technical expertise spans
                distributed systems, back-end architecture, and cloud
                infrastructure.
              </p>

              <p>
                I am currently developing an AI-powered observability platform
                for developers at
                <a href="https://usemux.com/" target="_blank" rel="noreferrer"
                  >usemux</a
                >. Previously, I served as the VP of Engineering at Max, a tech
                company addressing mobility challenges across Africa. Before
                that, I was the Director of Engineering and an investor at
                <a href="https://www.dot.ai/" target="_blank" rel="noreferrer"
                  >Dot</a
                >, a startup that democratizes financial services through
                innovative digital banking tools in emerging markets.
              </p>

              <p>
                My focus is on setting technology strategy and driving execution
                for impactful solutions, particularly in the fintech and dev
                toolings space. When not immersed in these endeavors, I’m
                typically working remotely, leveraging technology to create and
                grow innovative businesses.
              </p>

              <ul>
                <li>
                  Feel free to reach out to me
                  <a
                    href="mailto:abayomi@hey.com"
                    target="_blank"
                    rel="noreferrer">via email</a
                  >.
                </li>
                <li>
                  Check out my
                  <a
                    href="https://medium.com/@abayomip"
                    target="_blank"
                    rel="noreferrer">technical posts on Medium</a
                  >.
                </li>
                <li>
                  View my
                  <a
                    href="https://www.linkedin.com/in/abayomipopoola/"
                    target="_blank"
                    rel="noreferrer">LinkedIn profile</a
                  >.
                </li>
              </ul>
            </div>
          </Prose>
        </div>
      </div>
    </article>
  </div>
</BaseLayout>
