---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout title="About Me" description="Abayomi Popoola">
  <div class="container">
    <article>
      <div class="mb-10 w-full gap-16 md:flex md:items-center">
        <div class="text-pretty leading-9">
          <h2 class="mb-4 text-2xl font-bold">Hello!</h2>
          <Prose>
            <div class="text-lg">
              <p>
                I’m Abayomi Popoola, a programmer and entrepreneur passionate
                about building impactful businesses. My technical expertise lies
                in distributed systems, back-end architecture, and cloud
                infrastructure.
              </p>

              <p>
                I am currently developing an AI-powered observability platform
                for developers at
                <a href="https://usemux.com/" target="_blank" rel="noreferrer"
                  >usemux</a
                >. Previously, I served as the VP of Engineering at Max, a tech
                company addressing mobility challenges across Africa. Before
                that, I was the Director of Engineering and a founding member at
                <a href="https://www.dot.ai/" target="_blank" rel="noreferrer"
                  >Dot</a
                >, a payment and digital banking startup.
              </p>

              <p>
                I specialize in setting technology strategy and driving
                execution for impactful solutions, particularly in the fintech
                and dev toolings space.
              </p>

              <ul>
                <li>
                  Consulting at
                  <a href="https://wb.abayomipo.com/" rel="noreferrer"
                    >webuild</a
                  >
                </li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/abayomipopoola/"
                    target="_blank"
                    rel="noreferrer">LinkedIn</a
                  >
                </li>
                <li>
                  <a
                    href="https://medium.com/@abayomip"
                    target="_blank"
                    rel="noreferrer">Medium</a
                  >
                </li>
              </ul>
            </div>
          </Prose>
        </div>
      </div>
    </article>
  </div>
</BaseLayout>
