---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout title="About Me" description="Abayomi Popoola">
  <div class="container">
    <article>
      <div class="mb-10 w-full gap-16 md:flex md:items-center">
        <div class="leading-9 text-pretty">
          <h2 class="mb-4 text-2xl font-bold">Hello!</h2>
          <Prose>
            <div class="text-[17px]">
              <p>
                I’m Abayomi Popoola, a programmer, engineering leader, and
                entrepreneur passionate about building impactful businesses. My
                expertise is in distributed systems, backend architecture, and
                cloud infrastructure.
              </p>

              <p>
                I’ve contributed to the development of dozens of software
                products, mostly within small, fast-moving teams responsible for
                turning ideas into real businesses. Along the way, I’ve
                specialized in technology strategy, execution, and platform
                design, particularly in payments and, more recently, developer
                tooling.
              </p>

              <p>
                My work has ranged from leading engineering organizations and
                collaborating with stakeholders to architecting systems. I enjoy
                operating at both the strategic and technical layers, helping
                teams move from vision to execution. See more on my <a
                  href="https://www.linkedin.com/in/abayomipopoola/"
                  target="_blank"
                  rel="noreferrer">LinkedIn</a
                >.

                <ul>
                  <li>
                    Currently building
                    <a href="https://usemux.com/" rel="noreferrer">usemux</a>
                  </li>
                  <li>
                    Technical writing on
                    <a
                      href="https://medium.com/@abayomip"
                      target="_blank"
                      rel="noreferrer">medium</a
                    >
                  </li>
                </ul>
              </p>
            </div>
          </Prose>
        </div>
      </div>
    </article>
  </div>
</BaseLayout>
