---
import BaseLayout from "../layouts/BaseLayout.astro";
import Prose from "../components/Prose.astro";
---

<BaseLayout title="About Me" description="Abayomi Popoola">
  <div class="container">
    <article>
      <div class="mb-10 w-full gap-16 md:flex md:items-center">
        <div class="text-pretty leading-9">
          <h2 class="mb-4 text-2xl font-bold">Hello!</h2>
          <Prose>
            <div class="text-lg">
              <p>
                I’m Abayomi Popoola, a programmer and entrepreneur passionate
                about building impactful businesses. My technical expertise lies
                in distributed systems, back-end architecture, and cloud
                infrastructure.
              </p>

              <p>
                I’ve been part of diverse teams, directly contributing to the
                creation of dozens of software products. My experience is mainly
                with small teams taking new products from concept to initial
                launch. I specialize in setting technology strategy and driving
                execution, particularly in the payment space, and recently in
                dev tooling. I've handled multiple responsibilities—from leading
                development teams and managing stakeholders, to spending long
                hours coding with headphones on. See more on my <a
                  href="https://www.linkedin.com/in/abayomipopoola/"
                  target="_blank"
                  rel="noreferrer">LinkedIn</a
                >.

                <ul>
                  <li>
                    Consulting at
                    <a href="https://wb.abayomipo.com/" rel="noreferrer"
                      >webuild</a
                    >
                  </li>
                  <li>
                    <a
                      href="https://medium.com/@abayomip"
                      target="_blank"
                      rel="noreferrer">Medium</a
                    >
                  </li>
                </ul>
              </p>
            </div>
          </Prose>
        </div>
      </div>
    </article>
  </div>
</BaseLayout>
