---
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION } from "../consts";
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import DP from "@src/assets/img/ava.jpg";
import Prose from "../components/Prose.astro";
import PostItem from "../components/PostItem.astro";
import { getRecentBlogPosts } from "@src/utils/blog";

const posts = await getRecentBlogPosts();
---

<BaseLayout
  title={SITE_TITLE + " - " + SITE_TAGLINE}
  description={SITE_DESCRIPTION}
>
  <div class="container">
    <div class="mb-10 w-full gap-16 md:flex md:items-center">
      <div class="leading-9 text-pretty">
        <h2 class="mb-4 text-2xl font-bold">Hey there!</h2>
        <Prose>
          <div class="text-[17px]">
            <p>
              Welcome to my blog. I write about ideas, technologies, and topics
              that capture my curiosity, especially those I believe are worth
              understanding more deeply. You can also find me on <a
                href="https://x.com/abayomipo"
                target="_blank">𝕏</a
              >.
            </p>
            <p>
              I’m an aspiring comprehensivist with a particular interest in
              distributed systems, backend architecture, and cloud
              infrastructure.
            </p>
          </div>
        </Prose>
      </div>
      <Image
        src={DP}
        alt="Abayomi Popoola's pic"
        width={250}
        loading="eager"
        class="mx-4 hidden rotate-3 rounded-3xl md:mx-0 md:block"
      />
    </div>
    <main>
      <div class="mt-6 mb-12">
        <div class="mb-1 flex justify-between gap-2 border-b">
          <h2 class="mb-3 text-xl font-bold">Recent Posts</h2>
          <a href="/posts/" class="inline-block py-2 text-zinc-600 italic"
            >All posts &raquo;</a
          >
        </div>
        <div>
          {posts.map((post) => <PostItem post={post} />)}
        </div>
        <div class="text-right"></div>
      </div>
    </main>
  </div>
</BaseLayout>
