.ant-card {
  width: 55%;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  color: rgba(0,0,0,.65);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #fff;
  border-radius: 2px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.ant-card-head {
  background: transparent;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 24px;
  border-radius: 2px 2px 0 0;
  zoom: 1;
  margin-bottom: -1px;
  min-height: 48px;
  font-size: 16px;
  color: rgba(0,0,0,.85);
  font-weight: 500;
}

.ant-card-body {
  padding: 24px;
  zoom: 1;
}

.flex-container {
  background: rgb(236, 236, 236);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin-bottom: 30px;
}

.flex-item {
  width: 45%
}

.project-image {
  padding-left: 30px;
  margin-bottom: 0
}

@media only screen and (max-width: 600px) {
  .ant-card {
    width: 90%;
  }
  .flex-item {
    width: 90%
  }
  .flex-container {
    flex-direction: column-reverse;
    margin-bottom: 30px;
  }

  .project-image {
    padding-left: 0;
    margin-bottom: 0
  }
}
