---
const today = new Date();
---

<footer class="container mt-8">
  <div class="border-t py-4">
    <div
      class="prose justify-between text-sm text-zinc-500 dark:prose-invert md:flex dark:text-zinc-300"
    >
      <div>
        Â© {today.getFullYear()},
        <span class="text-[var(--link-color)]">
          <a href="/">ğ”¸ğ•“ğ•’ğ•ªğ• ğ•ğ•š</a>
        </span>
      </div>
      <div><a href="/rss.xml">RSS feeds</a></div>
    </div>
  </div>
</footer>
