---
const today = new Date();
---

<footer class="container mt-8">
  <div class="border-t py-4">
    <div
      class="flex w-full justify-between text-sm text-zinc-500 md:flex dark:text-zinc-300 dark:prose-invert"
    >
      <div>
        © {today.getFullYear()}
        <span>
          <a class="text-[var(--link-color)]" href="/">Abayomi Popoola</a>.
          <span class="whitespace-nowrap">All rights reserved.</span>
        </span>
      </div>
      <div>
        <a class="text-[var(--link-color)]" href="/rss.xml">RSS</a>
      </div>
    </div>
  </div>
</footer>
