---
import HeaderLink from "./HeaderLink.astro";

const menu = [
  {
    link: "/posts/",
    label: "Posts",
  },
  {
    link: "/about/",
    label: "About",
  },
  {
    link: "https://wb.abayomipo.com/",
    label: "Consuting",
  },
];
---

<header
  id="site-header"
  class:list={[
    "z-999 flex w-full items-center border-[var(--soft-border-color)] transition duration-300",
  ]}
>
  <div class="container">
    <nav class="flex items-center justify-between gap-4 py-3">
      <span class="m-0 text-3xl font-bold">
        <a
          class="flex items-center py-3 text-[var(--link-color)]"
          href="/"
          aria-label="Home"
        >
          ğ”¸ğ•“ğ•’ğ•ªğ• ğ•ğ•š
        </a>
      </span>
      <div class="flex">
        <div class="flex px-2.5 leading-tight backdrop-blur-md">
          {
            menu.map((item) => (
              <div class="px-2.5 text-sm">
                <HeaderLink class="flex items-center py-3" href={item.link}>
                  {item.label}
                </HeaderLink>
              </div>
            ))
          }
        </div>
      </div>
    </nav>
  </div>
</header>
