body {
  font-family: Blanco, 'Georgia', serif;
  font-size: 19.5px;
  font-weight: 400;
  line-height: 30px;
  background-color: #DFE6E9;
}

a {
  color: #0984E3;
  text-decoration: none;
}

a:hover {
  color: #0984E3;
}

a.read-more {
  font-size: 16px;
}

p {
	color: #202123;
}

.post {
  color: #202123;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ColfaxAIBold,helvetica,sans-serif;
}

h2 {
	color: #202123;
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 22px;
  line-height: 28px;
}

small {
  font-family: ColfaxAIRegular, helvetica, sans-serif;
  font-size: 12px;
}

strong {
  font-family: BlancoBold, 'Georgia', serif;
}

em {
  font-family: BlancoItalic, 'Georgia', serif;
}

.post img {
	max-width: 100%;
	padding: 0;
}

.post > ul, .post >  ol {
	padding-left: 20px;
}

@media (min-width: 40em) {
  .post > ul, .post >  ol {
    padding-left: 40px;
  }
}

blockquote {
  background: #cee4ee;
  border-left: 3px solid #0984E3;
  font-family: BlancoItalic, 'Georgia', serif;
  margin-left: calc(-1 * var(--spacing-0));
  margin-right: var(--spacing-0);
  padding: 0.5em 20px;
}

blockquote p {
  display: inline;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}

/*Share button*/
.share {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.reset-inline {
  margin-top: 1.2em;
  margin-bottom: 1.5em;
  font-family: Helvetica Neue,Arial,sans-serif;
}

.share a {
  font-size: 15px;
  text-align: center;
  line-height: 20px;
  height: 30px;
  width: 30px;
  margin-right: 8px;
  display: inline-block;
	border: 1px solid hsl(210,8%,80%);
  box-shadow: none;
  border-radius: 50%;
  color: black;
  text-decoration: none;
  transition: opacity 0.15s linear;
}

.share a:hover {
	border: 1px solid hsl(210,8%,80%);
  background-color: hsl(210,8%,80%);
}

.share .text {
  margin-right: 1rem;
  text-transform: uppercase;
  font-family: 'Helvetica Neue',Arial,sans-serif;
}

/* icons */
.share svg {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.three-dots {
  text-align: center;
  margin: 24px;
}