body {
  font-family: Blanco, 'Georgia', serif;
  font-size: 19.5px;
  font-weight: 400;
  line-height: 30px;
  background-color: #f3f6fc;
}

a {
  color: #0984E3;
  text-decoration: none;
}

a:hover {
  color: #0984E3;
}

a.read-more {
  font-size: 16px;
}

p {
	color: #202123DE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: ColfaxAIBold,helvetica,sans-serif;
	color: #202123;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 24px;
  line-height: 32px;
}

h4 {
  font-size: 22px;
  line-height: 28px;
}

h3.head-title {
  font-family: BlancoItalic, 'Georgia', serif;
  color: #80868b;
}

span.about-link {
  font-family: BlancoItalic, 'Georgia', serif;
}

.date-time {
  font-family: ColfaxAIRegular, helvetica, sans-serif;
  font-size: 13px;
  color: #80868b;
  white-space: nowrap;
}

.post strong {
  font-family: BlancoBold, 'Georgia', serif;
}

.post em {
  font-family: BlancoItalic, 'Georgia', serif;
}

.post img {
	max-width: 100%;
	padding: 0;
}

.post > ul, .post >  ol {
	padding-left: 20px;
}

@media (min-width: 40em) {
  .post > ul, .post >  ol {
    padding-left: 40px;
  }
}

blockquote {
  border-left: 3px solid #80868b;
  font-family: BlancoItalic, 'Georgia', serif;
  margin-left: calc(-1 * var(--spacing-0));
  margin-right: var(--spacing-0);
  padding: 0.5em 20px;
}

blockquote p {
  display: inline;
}

@keyframes type{
  from{box-shadow: inset -3px 0px 0px #888;}
  to{box-shadow: inset -3px 0px 0px transparent;}
}

.metainfo-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/*Share button*/
.share {
  width: 100%;
  margin: 0 auto;
  text-align: right;
}

.share a {
  font-size: 15px;
  text-align: center;
  line-height: 0;
  margin: 16px 8px;
  display: inline-block;
  color: #80868b;
  text-decoration: none;
  transition: opacity 0.15s linear;
}

.share a:hover {
  color: #202123;
}

.share .text {
  margin-right: 1rem;
  text-transform: uppercase;
  font-family: 'Helvetica Neue',Arial,sans-serif;
}

/* icons */
.share svg {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

.three-dots {
  text-align: center;
  margin: 24px;
}