---
import BaseHead from "./fragments/BaseHead.astro";
import Header from "./fragments/Header.astro";
import Footer from "./fragments/Footer.astro";

const { title, description, image } = Astro.props;
const GTAG_TRACKING_ID = import.meta.env.GTAG_TRACKING_ID;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} />
  </head>
  <body class="bg-[#f3f6fc]">
    <Header />
    <div class="min-h-[calc(100vh-160px)] py-8">
      <slot />
    </div>
    <Footer />
    <!-- Google tag (gtag.js) -->
    {
      GTAG_TRACKING_ID && (
        <>
          <script
            type="text/partytown"
            async
            src={
              "https://www.googletagmanager.com/gtag/js?id=" + GTAG_TRACKING_ID
            }
          />
          <script type="text/partytown" define:vars={{ GTAG_TRACKING_ID }}>
            window.dataLayer = window.dataLayer || []; function gtag(){" "}
            {dataLayer.push(arguments)}
            gtag('js', new Date()); gtag('config', GTAG_MEASUREMENT_ID);
          </script>
        </>
      )
    }
  </body>
</html>
